<body data-rsssl=1 class="home page-template page-template-homepage page-template-homepage-php page page-id-8 page-parent">
<div id="main">
<div id="page-title">
	<div class="flexslider" id="homepage-slider">
		<ul class="slides">
												<li class="caption-right-progression">
												<div class="caption-progression ">
							<div class="width-container">
								<h2><a href="https://redline.progressionstudios.com/inventory/">0% APR Financing</a></h2>
								<p>On All New 2014 Range Rover Sport Models!</p>
							</div>
						</div><!-- close .caption-progression -->
												<a href="https://redline.progressionstudios.com/inventory/">							<img width="1500" height="550" src="https://8wgnyyg5rhyj16ny-zippykid.netdna-ssl.com/wp-content/uploads/2014/01/slide-11.jpg" class="attachment-progression-slider size-progression-slider wp-post-image" alt="" srcset="https://8wgnyyg5rhyj16ny-zippykid.netdna-ssl.com/wp-content/uploads/2014/01/slide-11.jpg 1500w , https://8wgnyyg5rhyj16ny-zippykid.netdna-ssl.com/wp-content/uploads/2014/01/slide-11-300x110.jpg 300w , https://8wgnyyg5rhyj16ny-zippykid.netdna-ssl.com/wp-content/uploads/2014/01/slide-11-1024x375.jpg 1024w " sizes="(max-width: 1500px) 100vw, 1500px" />						</a>					</li>
																<li >
												<div class="caption-progression ">
							<div class="width-container">
								<h2>Record Setting</h2>
								<p>Witness the ALL-New Ranger Rover Sport</p>
							</div>
						</div><!-- close .caption-progression -->
																			<img width="1500" height="550" src="https://8wgnyyg5rhyj16ny-zippykid.netdna-ssl.com/wp-content/uploads/2014/01/slide-2.jpg" class="attachment-progression-slider size-progression-slider wp-post-image" alt="" srcset="https://8wgnyyg5rhyj16ny-zippykid.netdna-ssl.com/wp-content/uploads/2014/01/slide-2.jpg 1500w , https://8wgnyyg5rhyj16ny-zippykid.netdna-ssl.com/wp-content/uploads/2014/01/slide-2-300x110.jpg 300w , https://8wgnyyg5rhyj16ny-zippykid.netdna-ssl.com/wp-content/uploads/2014/01/slide-2-1024x375.jpg 1024w " sizes="(max-width: 1500px) 100vw, 1500px" />											</li>
																<li class="caption-right-progression">
												<div class="caption-progression ">
							<div class="width-container">
								<h2><a href="https://redline.progressionstudios.com/inventory/range-rover-evoque/">Range Rover Evoque</a></h2>
								<p>A true Range Rover in Compact Form</p>
							</div>
						</div><!-- close .caption-progression -->
												<a href="https://redline.progressionstudios.com/inventory/range-rover-evoque/">							<img width="1500" height="550" src="https://8wgnyyg5rhyj16ny-zippykid.netdna-ssl.com/wp-content/uploads/2014/01/slide-3.jpg" class="attachment-progression-slider size-progression-slider wp-post-image" alt="" srcset="https://8wgnyyg5rhyj16ny-zippykid.netdna-ssl.com/wp-content/uploads/2014/01/slide-3.jpg 1500w , https://8wgnyyg5rhyj16ny-zippykid.netdna-ssl.com/wp-content/uploads/2014/01/slide-3-300x110.jpg 300w , https://8wgnyyg5rhyj16ny-zippykid.netdna-ssl.com/wp-content/uploads/2014/01/slide-3-1024x375.jpg 1024w " sizes="(max-width: 1500px) 100vw, 1500px" />						</a>					</li>
									</ul>
	</div><!-- close .flexslider -->


<div class="clearfix"></div>
</div><!-- close #page-title -->
<div class="width-container">
	<!-- this code pull in the homepage content -->

	<!-- display homepage widgets -->
			<div id="pyre_homepage_media-widget-2" class="widget pyre_homepage_media"><h3 class="title-homepage">Latest Vehicles</h3>



		<div class="grid4column-progression">


<div class="content-container-boxed vehicle-widget">

	<a href="https://redline.progressionstudios.com/inventory/2010-audi-a3/">
					<div class="vehicle-index-widget">
				<img width="800" height="490" src="https://8wgnyyg5rhyj16ny-zippykid.netdna-ssl.com/wp-content/uploads/2014/03/shutterstock_171375653-800x490.jpg" class="attachment-vehicle-index size-vehicle-index wp-post-image" alt="" srcset="https://8wgnyyg5rhyj16ny-zippykid.netdna-ssl.com/wp-content/uploads/2014/03/shutterstock_171375653-800x490.jpg 800w , https://8wgnyyg5rhyj16ny-zippykid.netdna-ssl.com/wp-content/uploads/2014/03/shutterstock_171375653-1100x674.jpg 1100w " sizes="(max-width: 800px) 100vw, 800px" />			</div>

		<h3 class="vehicle-widget-title">2010 Audi A3</h3>
	</a>

	<div id="vehicle-price-index">
		<p class="pcd-pricing"><span class="pcd-price-msrp"><b>MSRP.:</b> $27,270 </span><br><span class="pcd-price"><b>Our Price:</b> $19,750 </span><br></p>		<a href="https://redline.progressionstudios.com/inventory/2010-audi-a3/" class="progression-button button-vehicle-index">View listing</a>
		<div class="clearfix"></div>
	</div>

	<div class="clearfix"></div>
</div><!-- close .content-container-boxed -->
		</div>


		<div class="grid4column-progression">


<div class="content-container-boxed vehicle-widget">

	<a href="https://redline.progressionstudios.com/inventory/2012-ford-f-250/">
					<div class="vehicle-index-widget">
				<img width="800" height="490" src="https://8wgnyyg5rhyj16ny-zippykid.netdna-ssl.com/wp-content/uploads/2014/03/shutterstock_172161128-800x490.jpg" class="attachment-vehicle-index size-vehicle-index wp-post-image" alt="" srcset="https://8wgnyyg5rhyj16ny-zippykid.netdna-ssl.com/wp-content/uploads/2014/03/shutterstock_172161128-800x490.jpg 800w , https://8wgnyyg5rhyj16ny-zippykid.netdna-ssl.com/wp-content/uploads/2014/03/shutterstock_172161128-1100x674.jpg 1100w " sizes="(max-width: 800px) 100vw, 800px" />			</div>

		<h3 class="vehicle-widget-title">2012 Ford F-250</h3>
	</a>

	<div id="vehicle-price-index">
		<p class="pcd-pricing"><span class="pcd-price-msrp"><b>MSRP.:</b> $34,765 </span><br><span class="pcd-price"><b>Our Price:</b> $32,500 </span><br></p>		<a href="https://redline.progressionstudios.com/inventory/2012-ford-f-250/" class="progression-button button-vehicle-index">View listing</a>
		<div class="clearfix"></div>
	</div>

	<div class="clearfix"></div>
</div><!-- close .content-container-boxed -->
		</div>


		<div class="grid4column-progression">


<div class="content-container-boxed vehicle-widget">

	<a href="https://redline.progressionstudios.com/inventory/2014-ford-f-150/">
					<div class="vehicle-index-widget">
				<img width="800" height="490" src="https://8wgnyyg5rhyj16ny-zippykid.netdna-ssl.com/wp-content/uploads/2014/03/shutterstock_72107110-800x490.jpg" class="attachment-vehicle-index size-vehicle-index wp-post-image" alt="" srcset="https://8wgnyyg5rhyj16ny-zippykid.netdna-ssl.com/wp-content/uploads/2014/03/shutterstock_72107110-800x490.jpg 800w , https://8wgnyyg5rhyj16ny-zippykid.netdna-ssl.com/wp-content/uploads/2014/03/shutterstock_72107110-1100x674.jpg 1100w " sizes="(max-width: 800px) 100vw, 800px" />			</div>

		<h3 class="vehicle-widget-title">2014 Ford F-150</h3>
	</a>

	<div id="vehicle-price-index">
		<p class="pcd-pricing"><span class="pcd-price-msrp"><b>MSRP.:</b> $25,035 </span><br><span class="pcd-price"><b>Our Price:</b> $22,500 </span><br></p>		<a href="https://redline.progressionstudios.com/inventory/2014-ford-f-150/" class="progression-button button-vehicle-index">View listing</a>
		<div class="clearfix"></div>
	</div>

	<div class="clearfix"></div>
</div><!-- close .content-container-boxed -->
		</div>


		<div class="grid4column-progression lastcolumn-progression">


<div class="content-container-boxed vehicle-widget">

	<a href="https://redline.progressionstudios.com/inventory/2010-honda-cbr/">
					<div class="vehicle-index-widget">
				<img width="800" height="490" src="https://8wgnyyg5rhyj16ny-zippykid.netdna-ssl.com/wp-content/uploads/2014/03/shutterstock_75430090-800x490.jpg" class="attachment-vehicle-index size-vehicle-index wp-post-image" alt="" srcset="https://8wgnyyg5rhyj16ny-zippykid.netdna-ssl.com/wp-content/uploads/2014/03/shutterstock_75430090-800x490.jpg 800w , https://8wgnyyg5rhyj16ny-zippykid.netdna-ssl.com/wp-content/uploads/2014/03/shutterstock_75430090-1100x674.jpg 1100w " sizes="(max-width: 800px) 100vw, 800px" />			</div>

		<h3 class="vehicle-widget-title">2010 Honda CBR</h3>
	</a>

	<div id="vehicle-price-index">
		<p class="pcd-pricing"><span class="pcd-price-msrp"><b>MSRP.:</b> $13,800 </span><br><span class="pcd-price"><b>Our Price:</b> $9,600 </span><br></p>		<a href="https://redline.progressionstudios.com/inventory/2010-honda-cbr/" class="progression-button button-vehicle-index">View listing</a>
		<div class="clearfix"></div>
	</div>

	<div class="clearfix"></div>
</div><!-- close .content-container-boxed -->
		</div>
		<div class="clearfix"></div>

		<div class="clearfix"></div>






		</div>
		<!-- Homepage Child Pages Start -->
			<div class="home-child-boxes grid3column-progression ">
			<a href="https://redline.progressionstudios.com/short-codes/">			<div class="home-child-boxes-container">
				<div class="childpage-image"><img src="https://8wgnyyg5rhyj16ny-zippykid.netdna-ssl.com/wp-content/uploads/2014/01/about-us.jpg" alt="About us"></div>
				<h4 class="home-child-title">About us</h4>
							</div>
			</a>		</div>
				<div class="home-child-boxes grid3column-progression ">
			<a href="https://redline.progressionstudios.com/inventory/">			<div class="home-child-boxes-container">
				<div class="childpage-image"><img src="https://8wgnyyg5rhyj16ny-zippykid.netdna-ssl.com/wp-content/uploads/2014/01/invneotry.jpg" alt="Browse Inventory"></div>
				<h4 class="home-child-title">Browse Inventory</h4>
							</div>
			</a>		</div>
				<div class="home-child-boxes grid3column-progression  lastcolumn-progression">
			<a href="https://redline.progressionstudios.com/contact-us/">			<div class="home-child-boxes-container">
				<div class="childpage-image"><img src="https://8wgnyyg5rhyj16ny-zippykid.netdna-ssl.com/wp-content/uploads/2014/01/map-option.jpg" alt="Contact us"></div>
				<h4 class="home-child-title">Contact us</h4>
							</div>
			</a>		</div>
	<div class="clearfix"></div>			<!-- Homepage Child Pages End -->

	<div class="clearfix"></div>
</div><!-- close .width-container -->
<div class="clearfix"></div>
</div><!-- close #main -->

<footer>
	<div id="widget-area">
		<div class="width-container footer-4-column">
			<div id="text-2" class="widget widget_text"><h4 class="widget-title">Contact us</h4>			<div class="textwidget">At dawn on the 13th the Carnatic entered the port of Yokohama. This is an important port of call in the Pacific, where all the mail-steamers.</div>
		</div><div id="categories-3" class="widget widget_categories"><h4 class="widget-title">Categories</h4>		<ul>
	<li class="cat-item cat-item-7"><a href="https://redline.progressionstudios.com/category/galleries/" >Galleries</a>
</li>
	<li class="cat-item cat-item-5"><a href="https://redline.progressionstudios.com/category/news/" >News</a>
</li>
	<li class="cat-item cat-item-8"><a href="https://redline.progressionstudios.com/category/tutorials/" >Tutorials</a>
</li>
	<li class="cat-item cat-item-6"><a href="https://redline.progressionstudios.com/category/videos/" >Videos</a>
</li>
		</ul>
</div><div id="archives-3" class="widget widget_archive"><h4 class="widget-title">Archives</h4>		<ul>
			<li><a href='https://redline.progressionstudios.com/2014/01/'>January 2014</a></li>
	<li><a href='https://redline.progressionstudios.com/2013/12/'>December 2013</a></li>
	<li><a href='https://redline.progressionstudios.com/2013/11/'>November 2013</a></li>
	<li><a href='https://redline.progressionstudios.com/2013/10/'>October 2013</a></li>
	<li><a href='https://redline.progressionstudios.com/2013/09/'>September 2013</a></li>
		</ul>
		</div><div id="meta-2" class="widget widget_meta"><h4 class="widget-title">Meta</h4>			<ul>
						<li><a href="https://redline.progressionstudios.com/wp-login.php">Log in</a></li>
			<li><a href="https://redline.progressionstudios.com/feed/">Entries <abbr title="Really Simple Syndication">RSS</abbr></a></li>
			<li><a href="https://redline.progressionstudios.com/comments/feed/">Comments <abbr title="Really Simple Syndication">RSS</abbr></a></li>
			<li><a href="https://wordpress.org/" title="Powered by WordPress, state-of-the-art semantic personal publishing platform.">WordPress.org</a></li>			</ul>
			</div>		</div>
		<div class="clearfix"></div>
	</div>
	<div class="width-container">
		<div id="copyright">
			<div class="grid2column-progression">
				<i class="fa fa-map-marker"></i> 2800 Corby Ave, Santa Rosa, CA 95407			</div>
			<div class="grid2column-progression lastcolumn-progression">
				<div class="social-ico">
					<a href="http://facebook.com" target="_blank"><i class="fa fa-facebook"></i></a>					<a href="http://twitter.com" target="_blank"><i class="fa fa-twitter"></i></a>					<a href="https://plus.google.com/" target="_blank"><i class="fa fa-google-plus"></i></a>					<a href="http://linkedin.com" target="_blank"><i class="fa fa-linkedin"></i></a>										<a href="http://pinterest.com" target="_blank"><i class="fa fa-pinterest"></i></a>										<a href="http://yotuube.com" target="_blank"><i class="fa fa-youtube-play"></i></a>																			</div>
			</div>
			<div class="clearfix"></div>
		</div><!-- close #copyright -->
	</div><!-- close .width-container -->
</footer>


		<script type="text/javascript">
		jQuery(document).ready(function($) {
		    $('#homepage-slider').flexslider({
				animation: "slide",              //String: Select your animation type, "fade" or "slide"
				slideshow: true,                //Boolean: Animate slider automatically
				slideshowSpeed: 7500,           //Integer: Set the speed of the slideshow cycling, in milliseconds
				animationDuration: 500,         //Integer: Set the speed of animations, in milliseconds
				directionNav:  true,             //Boolean: Create navigation for previous/next navigation? (true/false)
				controlNav: true,               //Boolean: Create navigation for paging control of each clide? Note: Leave true for manualControls usage
				keyboardNav: true,              //Boolean: Allow slider navigating via keyboard left/right keys
				mousewheel: false,              //Boolean: Allow slider navigating via mousewheel
				useCSS: true,
				animationLoop: true,            //Boolean: Should the animation loop? If false, directionNav will received "disable" classes at either end
				pauseOnAction: true,            //Boolean: Pause the slideshow when interacting with control elements, highly recommended.
				pauseOnHover: false            //Boolean: Pause the slideshow when hovering over slider, then resume when no longer hovering
		    });
		});
		</script>

 	<script type='text/javascript' src='https://8wgnyyg5rhyj16ny-zippykid.netdna-ssl.com/wp-content/plugins/prettyphoto-media/js/jquery.prettyPhoto.min.js?ver=3.1.4'></script>
<script type='text/javascript'>
/* <![CDATA[ */
var wpcf7 = {"apiSettings":{"root":"https:\/\/redline.progressionstudios.com\/wp-json\/contact-form-7\/v1","namespace":"contact-form-7\/v1"},"recaptcha":{"messages":{"empty":"Please verify that you are not a robot."}},"cached":"1"};
/* ]]> */
</script>
<script type='text/javascript' src='https://8wgnyyg5rhyj16ny-zippykid.netdna-ssl.com/wp-content/plugins/contact-form-7/includes/js/scripts.js?ver=5.0.2'></script>
<script type='text/javascript' src='https://8wgnyyg5rhyj16ny-zippykid.netdna-ssl.com/wp-includes/js/jquery/ui/core.min.js?ver=1.11.4'></script>
<script type='text/javascript' src='https://8wgnyyg5rhyj16ny-zippykid.netdna-ssl.com/wp-includes/js/jquery/ui/widget.min.js?ver=1.11.4'></script>
<script type='text/javascript' src='https://8wgnyyg5rhyj16ny-zippykid.netdna-ssl.com/wp-includes/js/jquery/ui/accordion.min.js?ver=1.11.4'></script>
<script type='text/javascript' src='https://8wgnyyg5rhyj16ny-zippykid.netdna-ssl.com/wp-includes/js/jquery/ui/tabs.min.js?ver=1.11.4'></script>
<script type='text/javascript' src='https://8wgnyyg5rhyj16ny-zippykid.netdna-ssl.com/wp-content/plugins/light-shortcode/includes/frontend/ls_sc_scripts.js?ver=1.0.3'></script>
<script type='text/javascript' src='https://maps.google.com/maps/api/js?key=AIzaSyCwvqYThOREPkhUlTsag2amFfoFiY1KyHg&#038;ver=1.0.3'></script>
<script type='text/javascript' src='https://8wgnyyg5rhyj16ny-zippykid.netdna-ssl.com/wp-content/themes/redline/js/plugins.js?ver=20120206'></script>
<script type='text/javascript' src='https://8wgnyyg5rhyj16ny-zippykid.netdna-ssl.com/wp-content/themes/redline/js/script.js?ver=20120206'></script>
<script type='text/javascript' src='https://8wgnyyg5rhyj16ny-zippykid.netdna-ssl.com/wp-includes/js/comment-reply.min.js?ver=4.9.8'></script>
<script type='text/javascript' src='https://8wgnyyg5rhyj16ny-zippykid.netdna-ssl.com/wp-includes/js/wp-embed.min.js?ver=4.9.8'></script>
<script type='text/javascript' src='https://8wgnyyg5rhyj16ny-zippykid.netdna-ssl.com/wp-content/plugins/progression-car-dealer-master/assets/js/car-dealer.min.js?ver=1.0.1'></script>
	  <script type="text/javascript">
		(function() {
		  var t   = document.createElement( 'script' );
		  t.type  = 'text/javascript';
		  t.async = true;
		  t.id    = 'gauges-tracker';
		  t.setAttribute( 'data-site-id', '56be52c8bb922a6ea0006b34' );
		  t.src = '//secure.gaug.es/track.js';
		  var s = document.getElementsByTagName( 'script' )[0];
		  s.parentNode.insertBefore( t, s );
		})();
	  </script>
	  <script>
jQuery(function($) {
$('a[rel^="prettyPhoto"]').prettyPhoto({ show_title: false, deeplinking: false });
});
</script>
</body>
</html>
<!--
	generated in 0.234 seconds
	31386 bytes batcached for 300 seconds
-->
