<nav>
		<div class="width-container">
			<div class="menu-main-navigation-container"><ul id="menu-main-navigation" class="sf-menu"><li id="menu-item-23" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-8 current_page_item menu-item-23"><a href="https://redline.progressionstudios.com/">Home</a></li>
<li id="menu-item-26" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-26"><a href="https://redline.progressionstudios.com/short-codes/">Page Styles</a>
<ul class="sub-menu">
	<li id="menu-item-41" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-41"><a href="https://redline.progressionstudios.com/short-codes/">Short codes</a></li>
	<li id="menu-item-40" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-40"><a href="https://redline.progressionstudios.com/full-width/">Full Width</a></li>
</ul>
</li>
<li id="menu-item-373" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-373"><a href="https://redline.progressionstudios.com/inventory/">Browse Inventory</a>
<ul class="sub-menu">
	<li id="menu-item-374" class="menu-item menu-item-type-taxonomy menu-item-object-vehicle_type menu-item-374"><a href="https://redline.progressionstudios.com/vehicle_type/car/">Cars</a></li>
	<li id="menu-item-375" class="menu-item menu-item-type-taxonomy menu-item-object-vehicle_type menu-item-375"><a href="https://redline.progressionstudios.com/vehicle_type/motorcycle/">Motorcycles</a></li>
	<li id="menu-item-376" class="menu-item menu-item-type-taxonomy menu-item-object-vehicle_type menu-item-376"><a href="https://redline.progressionstudios.com/vehicle_type/truck/">Trucks</a></li>
</ul>
</li>
<li id="menu-item-63" class="menu-item menu-item-type-taxonomy menu-item-object-portfolio_type menu-item-has-children menu-item-63"><a href="https://redline.progressionstudios.com/portfolio_type/portfolio/">Portfolio</a>
<ul class="sub-menu">
	<li id="menu-item-64" class="menu-item menu-item-type-taxonomy menu-item-object-portfolio_type menu-item-64"><a href="https://redline.progressionstudios.com/portfolio_type/landscapes/">Landscapes</a></li>
	<li id="menu-item-65" class="menu-item menu-item-type-taxonomy menu-item-object-portfolio_type menu-item-65"><a href="https://redline.progressionstudios.com/portfolio_type/restaurants/">Restaurants</a></li>
	<li id="menu-item-66" class="menu-item menu-item-type-taxonomy menu-item-object-portfolio_type menu-item-66"><a href="https://redline.progressionstudios.com/portfolio_type/snowboarding/">Snowboarding</a></li>
</ul>
</li>
<li id="menu-item-25" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-25"><a href="https://redline.progressionstudios.com/latest-news/">Latest News</a></li>
<li id="menu-item-24" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-24"><a href="https://redline.progressionstudios.com/contact-us/">Contact us</a></li>
</ul></div>		<div class="clearfix"></div>
		</div><!-- close .width-container -->
	</nav>
